body {
    background-color:#de7df0;
    font-family: "Roboto", sans-serif;
}
a {
    color: #cf2080;
}
.Weather-App{
    max-width: 600px;
    margin: 60px auto;
    padding: 30px;
    box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
    border-radius: 18px;
    background-color: white;
}
header{
    border-bottom: 1px solid #f877e3 ;
    padding:0 0 25px 0;
}
.weather-app-city{
    margin: 0;
    font-size: 34px;
    line-height: 48px;
}
.weather-app-details{
    line-height: 22px;
    font-size: 18px;
    font-weight: 500;
}
.weather-app-details strong{ 
    color: #cf2080;
}
 .Weather-app-temperature-container {
    position: relative;
}
.current-temp-icon{
  width: 88px;
 line-height: 88px;
 font-size: 88px;
}
.current-temp-value{
  font-size: 80px;
  font-weight: bold;
  line-height: 88px;
  
}
.current-temp-unit{
  font-size: 80px;
  margin-top: 6px;
}
main{
    padding: 30px 0;

}

.search-form-input{
    background-color:#fc80ed;
    border: none;
    border-radius: 5px;
    width: 80%;
    padding: 15px 20px;
    font-size: 16px;
    color: rgba(39, 33, 66, 0.4);
}
.search-form-button{
    background-color: #df5bcf;
    padding: 20px;
    border: none;
    border-radius: 5px;
    color: white;
    margin-left: 10px;
    font-size: 16px;
    line-height: 1px;
}
.Weather-app-data{
    display: flex;justify-content: space-between;
    
}


footer{
    border-top: 1px solid #f877e3 ;
    padding: 25px 0 0 0;
    font-size: 14px;
    text-align: center;
}